@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
.mcontainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

video {
    position: absolute;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

@media (min-width:40em) {
    .cont-home {
        display: flex;
    }
    .mainsc-sub {
        font-size: 90px;
        letter-spacing: 1px;
    }
}

.mainsc {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    z-index: 1;
    display: flex;
}

.containers {
    width: 23%;
    content-visibility: visible;
    transform: translate3d(0px, -381px, 0px);
}

.wet {
    grid-column-start: 1;
    grid-row-start: 1;
}

.mainsc-text {
    font-family: 'Patua One', cursive;
    font-size: 8vw;
    letter-spacing: 6px;
    color: aliceblue;
    margin-top: 20vh;
}

.mainsc-sub {
    font-family: 'Patua One', cursive;
    letter-spacing: 4px;
    color: aliceblue;
    margin-left: -40px;
    margin-top: 0px;
    font-size: 2vw;
}

#thing {
    transform: translate3d(750px, -360px, 0);
}

.bugs:hover {
    transform: scale(1.5);
    transition: transform 0.5s;
}

.bugs {}