.card {
    display: flex;
    justify-content: space-around;
    transform: translate(0, 100%);
    z-index: +1;
}

@media (max-width:70em) {
    .card {
        display: grid;
        grid-template-columns: repeat(2, 40fr);
        row-gap: 20%;
    }
    .main-app {
        background-color: coral;
    }
}

.ModalBg {}

.containers {
    width: 23%;
    content-visibility: visible;
    transform: translate3d(0px, -381px, 0px);
}

.App-name {
    display: flex;
    justify-content: space-around;
}

.main-app {
    background-color: coral;
    position: absolute;
    left: 0;
    right: 0;
    padding-bottom: 20em;
}