.card {
    display: flex;
    justify-content: space-around;
    transform: translate(0, 100%);
    z-index: +1;
    margin-top: -25em;
}

@media (max-width:70em) {
    .card {
        display: grid;
        grid-template-columns: repeat(2, 40fr);
        row-gap: 20%;
        margin-bottom: 20;
    }
}

.ModalBg {
    margin-top: -25em;
}

.containers {
    width: 23%;
    transform: translate3d(73em, 1em em, 0px);
    content-visibility: visible;
    margin-top: -25px;
}

.App-name {
    display: flex;
    justify-content: space-around;
}